*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;;
}
html{
    font-size: 62.5%;
}
a{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

img{
    max-width: 100%;
}

body{
    background-color: #d3d3d3 ;
    min-width: 100%;
}

/* inicio css especifico*/

#index__body{
    display: grid;
    grid-template-areas: 
    "header"
    "foto"
    "cualidades"
    "footer";
    grid-template-columns: 1fr;
}

#sobre__body{
    display: grid;
    grid-template-areas:
    "header"
    "sobre"
    "footer";
    grid-template-columns: 1;
}

#productos__body{
    display: grid;
    grid-template-areas:
    "header"
    "productos"
    "footer";
    grid-template-columns: 1;
    background-color: white;
}
/*header*/
header{
    background-image: url(../img/diseño-head.png);
    background-size: cover;
    background-position: 20rem 70%;
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    background-color: #b99d85;
    border-bottom: 0.35rem solid black;
    position: fixed;
    z-index: 2;
    width: 100%;
}

.logo{
    height: 13rem;
    border-radius: 100%;
}

.menu__nav{
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.65rem;
    margin: 1.3rem;
}

.menu__nav a{
    color: rgb(0, 0, 0);
    background-color: rgba(215, 226, 215, 0.733);
    border-radius: 9%;
    padding: .5rem;
    font-weight: 900;
    font-family:'Noto Serif Toto', serif ;
}

.menu__nav a:hover{
    background-color: rgba(19, 49, 58, 0.61);
    padding: .6rem;
    border-radius: 10%;
}

.menu__nav img{
    height: 1.8rem;
    align-items: center;
    align-content: center;
    transform: translatey(0.4rem);
}

/*index*/

.foto__inicio{
    background-image: url(../img/foto-panaderia.jpeg);
    background-size: cover;
    background-position: center;
    height: 40rem;
    grid-area: foto;
    margin-top: 30rem;
    min-width: 100%;
    max-width: 100%;
}

#cualidades{
    grid-area: cualidades;
    background-image:url(../img/tabla.jpg) ;
    background-position: 90% 47%;
    margin-top: 1rem;
    padding: 3rem;
    height: 30rem;
}

.cualidades__titulo{
    text-align: center;
    font-size: 4rem;
    margin-top: 3rem;
    color: rgb(9, 61, 31);
    font-family: 'Noto Serif Toto', serif;
    position: relative;
    right: 0rem;
    bottom: 5rem;
    background-color: rgb(206, 199, 199);
    border: .3rem solid black;
}

.cualidades__elementos img{
height: 8rem;
}

.calidad{
    position: relative;
    bottom: 9rem;
    right: 3rem;
}

.cualidades__elementos{
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    color: rgb(117, 18, 18);
}

/*sobre nosotros*/
#sobre{
    margin-top: 25.5rem;
}

.nosotros{
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse;
    margin-bottom: 5rem;
}

#sobre img{
    height: 45rem;
    min-width: 100%;
}

#sobre div{
    text-align: center;
    margin-top: 5rem;
}

.textos{
    display: flex;
    flex-direction: column;
    color: white;
}

.textos p{
    font-size: 1.6rem;
    padding: 1rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.textos h2{
    font-family:'Noto Serif Toto', serif ;
    font-size: 3rem;
    color: rgb(255, 147, 5);
}

/*productos*/
#productos{
    margin-top: 27rem;
    grid-area: productos;
    border: .2rem solid black;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    text-align: center;
}

#productos img{
    height: 40rem;
}

#productos img:hover{
    height: 50rem;
}

/*footer*/
footer{
    grid-area: footer;
    font-size: 1.4rem;
    background-color:rgb(223, 217, 217) ;
}

#info{
    display: flex;
    justify-content: space-between;
}

.contactanos {
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    margin-left: 4rem;
    gap: .4rem;
}

.redes{
    display: flex;
    margin-top: 4rem;
    margin-right: 4rem;
}

.redes img{
    height: 3.4rem;
}


.contactanos div{
display: flex;
    align-items: center;
}

.contactanos img{
    height: 3.4rem;
}

.contactanos h2{
    position: relative;
    right: 5rem;
    margin-bottom: 1rem;
}

.whatsapp{
    position: relative;
    left: 1.4rem;
}

.ubicacion img{
    height: 2.3rem;
}

.telefono img{
    height: 2.3rem;
    position: relative;
    right: .3rem;
}

.correo{
    position: relative;
    right: .7rem;
}