
/*eventos*/

.servicios{
    margin: 0 5rem;

    div{
        @include flex-column-aligncenter;
        border: .3rem solid black;
        padding: 5rem;
        margin: $regular-spacing - 2rem;
        gap: 3rem;
        background-color:#ce7b47;
    }

    img{
        height: 40rem;
    }

    h2{
        font-family: $titulos;
        font-size: 2.2rem;
        font-weight: bolder;
        margin-bottom: 2rem;
        text-align: center;
    }

    p{
        font-size: 1.8rem;
        color: rgb(240, 230, 213);
        text-align: center;
    }
}
