/*header*/
header{
    background-image: url(../img/diseno-head.png);
    background-size: cover;
    background-position: 20rem 70%;
    grid-area: header;
    background-color: $color-principal;
    border-bottom: 0.35rem solid black;
    width: 100%;
    height: 16rem;
    display: flex;

    a{
        font-size: 2rem;
        color: rgb(0, 0, 0);
        font-family:$titulos;
    }
}

.logo{
    height: 13rem;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
}

.iconito{
    margin-right: .4rem;
}

.menu__icono{
    background-color: $color-principal;
    height: $regular-spacing;
}

.btn-primary{
    background-color: $color-principal;
    border: .1rem solid $color-principal;

    &:hover{
        background-color: $color-principal;
    }
}

.offcanvas{
    background-color: $color-principal ;
}
/*menu para pantallas grandes*/
@media screen and (min-width: 992px) {
    header{
        @include flex-column-aligncenter;
        background-image: url(../img/diseno-head.png);
        background-size: cover;
        background-position: 20rem 70%;
        grid-area: header;
        background-color: $color-principal;
        border-bottom: 0.35rem solid black;
        width: 100%;
        height: 22rem;
        gap: 3rem;
    }

    .menu__nav{
        display: flex;
        list-style: none;
        align-items: center;
        gap: $regular-spacing;
        font-size: 1.65rem;
        margin: 1.3rem;

        a{
            color: rgb(0, 0, 0);
            background-color: rgba(215, 226, 215, 0.733);
            border-radius: 9%;
            padding: .3rem;
            font-weight: 900;
            font-family:$titulos ;
        }
    }
    
    
    .menu__nav a:hover{
        background-color: rgba(19, 49, 58, 0.61);
        padding: .6rem;
        border-radius: 10%;
    }
    
}