
/*sobre nosotros*/

#sobre{
    grid-area: sobre;

    h2{
        font-size: 3rem;
    }
}

.sobre__atencion__img{
    height: 40rem;
    background-image: url(../img/atencion.jpg);
    background-size: cover;
}

@media screen and (min-width: 960px ) {
    .sobre__atencion__img{
        height: 50rem;
    }
}
.sobre__nosotros__img{
    height: 40rem;
    background-image: url(../img/nosotros.jpg);
    background-size: cover;
    background-position: center;
}

@media screen and (min-width: 960px ) {
    .sobre__nosotros__img{
        height: 50rem;
    }
}