/*variables*/

$titulos: 'Noto Serif Toto', serif;
$color-principal: #b99d85;
$regular-spacing: 4rem;

@mixin flex-column-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin flex-column-aligncenter{
    display: flex;
    flex-direction: column;
    align-items: center;
}