
/*productos*/

.productos__title{
    @extend .title__events;
    grid-area: titulo;
    margin: 2rem;

    h1{
        background-color: rgb(87, 211, 30);
        font-family: $titulos;
        padding: 3rem;
        font-weight: 900;
        font-size: 3rem;
        text-align: center;

    strong{
        font-family: $titulos;
    }
    }
}


#productos-carrusel{
    grid-area: productos-carrusel;
}

#productos{
    grid-area: productos;
    margin-top: $regular-spacing - 2rem;

    img{
        margin-left: 1.5rem;
        margin-bottom: $regular-spacing;
        height: 25rem;

        &:hover{
            filter: grayscale(80%);
        }
    }
}


@media screen and (max-width:768) {
    #productos img{
        height: 55rem;
    }
}
.carousel-inner{
    height: 35rem;

    img{
        height:35rem;
    }
}


@media screen and (min-width: 992px) {
    .carousel-inner{
        height: 55rem;

        img{
            height:55rem;
        }
    }
    
    #productos img{
        height: 30rem;
    }
}

@media screen and (min-width: 1200px) {
    .carousel-inner{
        height: 69rem;

        img{
            height:69rem;
        }
    }

}

